<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Просмотр зарегистрированных участников</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" type="image/png" href="/images/icon.png">
    </head>
    <body>
        <div class="index-wrapper">
            <div class="index-section index-side"></div>

            <div class="index-section index-center">
                <div class="container">
                    <div class="header">
                        <h1>Админ-панель</h1>
                        <p>Список зарегистрированных участников</p>
                    </div>

                    <div class="table-container">
                        <h2 style="margin-bottom: 18px;">Зарегистрированные участники</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Имя</th>
                                    <th>Номер телефона</th>
                                    <th>Электронная почта</th>
                                    <th>Дата и время регистрации</th>
                                    <th>Удаление позиции</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for registration in registrations %}
                                    <tr>
                                        <td>{{registration.name}}</td>
                                        <td>{{registration.surname}}</td>
                                        <td>{{registration.phone_number}}</td>
                                        <td>{{registration.email}}</td>
                                        <td>{{registration.datetime}}</td>
                                        <td>
                                            <form method="POST" action="/admin/delete/{{registration.id}}" onsubmit="return confirm('Вы уверены, что хотите удалить эту регистрацию?');">
                                                <button type="submit" class="btn-delete">Удалить</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="index-section index-side"></div>
        </div>
    </body>
</html>