<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Главная</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
        <body class="show-right-side-mobile">
        <div class="index-wrapper">
            <div class="index-section index-side"></div>
            <div class="index-section index-center">
                <div class="center-content">
                    <img src="/images/index.png" alt="Event" class="center-image">
                    
                    <a href="/registration_form" class="btn-register">Регистрация</a>
                    
                    <div class="icon-buttons">
                        <a class="icon-button" href="https://t.me/zelmuzloto" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
                            <img src="/images/telegram-white-icon.svg" alt="Telegram">
                        </a>
                        <a class="icon-button" href="https://vk.com/zelbingo" rel="noopener noreferrer" target="_blank" aria-label="VK">
                            <img src="/images/vk-white-icon.svg" alt="VK">
                        </a>
                    </div>
                </div>
            </div>
              <div class="index-section index-side index-side--right">
                  <div class="rules-content">
                    <h2 class="rules-title">Правила игры</h2>
                    <div class="rules-grid">
                        <div class="rule-card">
                            <img src="/images/first-rule.jpg" alt="Первое правило игры" class="rule-image">
                        </div>
                        <div class="rule-card">
                            <img src="/images/core-mechanic.jpg" alt="Механика игры" class="rule-image">
                        </div>
                        <div class="rule-card">
                            <img src="/images/process.jpg" alt="Процесс игры" class="rule-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>